.hero-bg {
    background: url('https://cdn.motor1.com/images/mgl/qkog2J/s1/vw-jetta-gli-2023-br.jpg') no-repeat center center;
    background-size: cover;
}

.card-shadow {
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.smooth-transition {
    transition: all 0.3s ease-in-out;
}

.card-shadow:hover {
    transform: translateY(-5px);
}

html {
    scroll-behavior: smooth;
}
